/* src/style.css */
@media (max-width: 768px) {
  .sidebar {
    width: 100%;
    height: auto;
  }

  body > div {
    flex-direction: column;
  }
}

body {
  margin: 0;
  background-color: #000;
  color: white;
  font-family: "Helvetica Neue", sans-serif;
}

/* Layout principal */
.sidebar {
  width: 200px;
  height: 100vh;
  background-color: #121212;
  color: white;
  padding: 20px;
  box-sizing: border-box;
}

.sidebar h2 {
  margin-bottom: 1rem;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  margin: 10px 0;
}

.sidebar a {
  color: #b3b3b3;
  text-decoration: none;
}

.sidebar a:hover {
  color: white;
}
